<div class='row'>
	<div class='col-md-4'><%= render :file => 'players/index' %></div>
	<div class='col-md-3'><%= render 'layouts/buttons' %></div>
	<div class='col-md-5'><%= render :file => 'chess_games/index' %></div>
</div>