// Place all the styles related to the ChessGames controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.winner { color: #339900; }

.loser { color: #FF0033; }

.stalemate { color: #C0C0C0; }