<div style='padding-top: 100px;'>
	<%= button_to new_player_path, :method => 'get', :class => 'btn btn-default' do %>
	<span class='glyphicon glyphicon-plus'></span> Add Player
	<% end %>

	<%= button_to new_chess_game_path, :method => 'get', :class => 'btn btn-default' do %>
	<span class='glyphicon glyphicon-plus'></span> Record Game
	<% end %>
</div>